#this is a comment

#this line says something just to check that the first line is blaaaa         
spImagesDirectory  = abcd
spImagesPrefix =    BFF.
spImagesSuffix   =   .jpg
spNumOfImages   =  867
spPCADimension  = 15
spPCAFilename = mhbjn
spNumOfFeatures = 765
spExtractionMode = true
    spNumOfSimilarImages   =   123
#this is another comment just for fun.    
