<!DOCTYPE html>
{% extends "main_app/base.html" %}
{% block body_block %}

<div class="jumbotron section1 otherSectionsImage sectionMargin">
  <div class="container">
    <h1 class="display-2 signature signHeadline">About</h1>
    <hr class="my-4 hrStyle">
    <hr class="my-4">
  <!--  <p><cite>Can I offer you an egg in this tryin' time?</cite> - Frank Reynolds</p>-->
  </div>
</div>

<div class="jumbotron section2 sectionMargin">
  <div class="container">
    <h1 class="display-4">Bio</h1>
    <p class="lead">Read about who I worked with and about my proffessional background</p>
    <hr class="my-4">
    <p>Hillel Teplitzki was born on the 6th of march 1993, to Tali and Drori Teplitzki. they raised him with a lot of love and compassion.

    </p>
  </div>
</div>

{% endblock %}
