<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hillel Teplitzky</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
      <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Amiri|Dancing+Script|Pacifico|Satisfy" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Amiri%7CCourgette%7CDancing+Script%7CDella+Respira%7CGreat+Vibes%7CMarck+Script%7CPacifico%7CSatisfy" rel="stylesheet">
    </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark  myNavBar">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav navbarMarginLeft">
          <li class="nav-item active signature signNav navbarMargin">
            <a class="nav-link" href="{% url 'main_app:home' %}" >Hillel Teplitzki</a>
          </li>
          <li class="nav-item navbarMargin navbarNotSignatureAlign">
            <a class="nav-link" href="{% url 'main_app:audio' %}">Audio</a>
          </li>
          <li class="nav-item navbarMargin navbarNotSignatureAlign">
            <a class="nav-link" href="{% url 'main_app:video' %}">Video</a>
          </li>
          <li class="nav-item navbarMargin navbarNotSignatureAlign">
            <a class="nav-link" href="{% url 'main_app:about' %}">About</a>
        </li>
          <li class="nav-item navbarMargin navbarNotSignatureAlign">
            <a class="nav-link" href="{% url 'main_app:contact' %}">Contact</a>
          </li>
        </ul>
      </div>
</nav>

{% block body_block %}
{% endblock %}

<div class="jumbotron footer sectionMargin">
  <div class="container">
    <h1 class="signature signHeadline">Hillel Teplitzki</h1>
  </div>
</div>

  </body>
</html>
