<!DOCTYPE html>
{% extends "main_app/base.html" %}
{% block body_block %}

<div class="jumbotron section1 otherSectionsImage sectionMargin">
  <div class="container">
    <h1 class="display-2 signature signHeadline">Contact</h1>
    <hr class="my-4 hrStyle">
    <hr class="my-4">
  <!--  <p><cite>Can I offer you an egg in this tryin' time?</cite> - Frank Reynolds</p>-->
  </div>
</div>

<div class="jumbotron section2 sectionMargin">
  <div class="container">
    <h1 class="display-4">Contact Info</h1>
    <hr class="my-4">
    <p>email: hillel30@gmail.com</p>
    <p>facebook: <a href="https://www.facebook.com/hillel.teplitzki">click here</a></p>
    <p>linkedin: <a href="https://www.linkedin.com/in/hillel-teplitzki-684a3b94/">click here</a></p>
  </div>
</div>

{% endblock %}
