<!DOCTYPE html>
{% extends "main_app/base.html" %}
{% block body_block %}
{% load staticfiles %}

<div class="jumbotron section1 otherSectionsImage sectionMargin">
  <div class="container">
    <h1 class="display-2 signature signHeadline">Video</h1>
    <hr class="my-4 hrStyle">
    <hr class="my-4">
  <!--  <p><cite>Can I offer you an egg in this tryin' time?</cite> - Frank Reynolds</p>-->
  </div>
</div>

<div class="jumbotron section2 sectionMargin">
  <div class="container">
    <h1 class="display-4">Look At Some Of The Videos I Composed! </h1>
    <hr class="my-4">
    <div>
    <video style='display:block;margin:0 auto;' width="480" height="320" controls>
      <source src="{% static 'videos/Teplitzki_Hillel_Multiplayer.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
  </div>
  </div>
</div>

{% endblock %}
